header{
background: #3CB371;
font-family: 'Amatic SC', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Shantell Sans', cursive;
font-size: 40px;
color: blueviolet;
}
.social-icons {
  text-align: center;
  height: 10px;
  width: 10px;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;height: 10px;
  width: 10px;
  }
.social-icons li a {
  border-bottom: none;height: 10px;
  width: 10px;
  }
.social-icons li img {
  width:10px;
  height:10px;
  margin-right: 10px;
